
<!DOCTYPE html>
<html>
<head>
    <title>
        Создание
    </title>
</head>
<style type="text/css">
    .block0{
    position: relative;
    top: -620px;
    left: 450px;
   }
</style>

<body>

<form action="" method="post">
    {{message}}
    <div>
    <p>
        <label>Название страны</label>
        <input type="text" name="country_name" required>
    </p>

    <p>
        <label>Название первого города</label>
        <input type="text" name="t1_name" required>
    </p>

    <p>
        <label>Название второго города</label>
        <input type="text" name="t2_name" required>
    </p>

    <p>
        <label>Название третьего города</label>
        <input type="text" name="t3_name" required>
    </p>

    <p>
        <label>Название четвертого города</label>
        <input type="text" name="t4_name" required>
    </p>
    </div>

    <div>
        <div>
            <input type="radio" value="Пацифист", name="perk">
            <label>Пацифист</label>
        </div>
        <div>
            <input type="radio" value="Житель пустоши", name="perk">
            <label>Житель пустоши</label>
        </div>
        <div>
            <input type="radio" value="Нетерпеливый", name="perk">
            <label>Нетерпеливый</label>
        </div>
        <div>
            <input type="radio" value="Дед Инсайд", name="perk">
            <label>Дед Инсайд</label>
        </div>
        <div>
            <input type="radio" value="Берсерк", name="perk">
            <label>Берсерк</label>
        </div>
        <div>
            <input type="radio" value="Золотой телец", name="perk">
            <label>Золотой телец</label>
        </div>
        <div>
            <input type="radio" value="Друид", name="perk">
            <label>Друид</label>
        </div>
        <div>
            <input type="radio" value="Мародер", name="perk">
            <label>Мародер</label>
        </div>
        <div>
            <input type="radio" value="Джимми Нейтрон", name="perk">
            <label>Джимми Нейтрон</label>
        </div>
        <div>
            <label>Введите название лобби</label>
        <input type="text" name="lobby_name" required>
        </div>
        <div>
            <label>Введите пароль от лобби</label>
        <input type="text" name="lobby_password" >
        </div>
    </div>
    <br>
    <button type="submit">Завершить создание</button>



</form>




</body>
</html>