{% extends "general_template.html" %}
{% block content %}

<form action="" method="post">
    {{ message }}
    <br>
    <input class="form-control" type="text"  name="country_name" placeholder="Название страны" aria-label="default input example" required>
    <br>
    <input class="form-control" type="text"  name="t1_name" placeholder="Название первого города" aria-label="default input example" required>
    <br>
    <input class="form-control" type="text"  name="t2_name" placeholder="Название второго города" aria-label="default input example" required>
    <br>
    <input class="form-control" type="text"  name="t3_name" placeholder="Название третьего города" aria-label="default input example" required>
    <br>
    <input class="form-control" type="text"  name="t4_name" placeholder="Название четвёртого города" aria-label="default input example" required>
    <br>
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Перк</label>
        <select class="form-select" id="inputGroupSelect01" name="perk">
          <option selected>Джимми Нейтрон</option>
          <option value="Пацифист">Пацифист</option>
          <option value="Житель пустоши">Житель пустоши</option>
          <option value="Нетерпеливый">Нетерпеливый</option>
          <option value="Дед инсайд">Дед инсайд</option>
          <option value="Берсерк">Берсерк</option>
          <option value="Золотой телец">Золотой телец</option>
          <option value="Друид">Друид</option>
          <option value="Мародёр">Мародёр</option>
        </select>
      </div>
      <br>
      <input class="form-control" type="text"  name="lobby_name" placeholder="Название лобби" aria-label="default input example" required>
      <br>
      <br>
      <input class="form-control" type="text" name="lobby_password" placeholder="Пароль лобби" aria-label="default input example">
      <br>
      <div class="d-grid gap-2 col-3 mx-auto">
        <button type="submit" class="btn btn-outline-dark">Завершить создание</button>
    </div>
  </form>
{% endblock %}