<!DOCTYPE html>
<html>
<head>
    <title>
        Мировое господство
    </title>
</head>


<body>
    <div>
        <a href="/">Главная</a>
        <a href="/new_lobby">Создать лобби</a>
        <a href="/create">Создать страну</a>
        <a href="/play/1">Вернуться к текущей партии</a>
        <a href="/register">Создать аккаунт</a>
        <a href="/login">Авторизация</a>
        <a href="/cabinet/1">Личный кабинет</a>
        <a href="/logout">Выйти из аккаунта</a>

    </div>







</body>
</html>