{% extends "general_template.html" %}
{% block content %}
<div style="font-family: Trebuchet MS;">
    <br>
    <p>
        Мировое Господство - пошаговая онлайн стратегия для Вас и Ваших друзей.
        Она не оставит равнодушным ни одного игрока, и навсегда останется в сердце, как
        потрясающий симулятор управления своим государством!
    </p>
    <p>
        Мировое Господство - пошаговая игра. Это значит, что любое Ваше действие(кроме денежного перевода и шпионажа) -
        возымеет эффект лишь на следующем раунде. То есть, если Вы отдадите приказ об улучшении города, то город будет улучшен лишь на следующем раунде.
    </p>
    <p>
        Вы начнете игру за одну из стран, у Вас в распоряжении будет четыре города и возможность отдавать приказы.
        У каждого города есть качество жизни. Победителем в партии будет объявлен игрок,
        чье качество жизни будет наивысшее (складывается качество жизни во всех городах).
        Изначально количество денег в бюджете равняется 1000, каждый раунд бюджет будет пополняться на число равное
        суммарному качеству жизни в Вашей стране умноженному на множитель эконмики и умноженному на дебафф санкций.
        Максимальный множитель экономики - 3.6
    </p>
    <p>
        Чтобы повысить уровень жизни в каждом из Ваших городов - отдавайте приказ об его улучшении.
        Улучшение города даст вам +25 к качеству жизни в нем и повысит Ваш множитель экономики.
        Стоимость одного улучшения - 150.
    </p>
    <p>
        Если качество жизни равно нулю, то это значит, что этот город был разрушен в ходе ядерной войны.
        Разрушенные города нельзя восстановить. Чтобы не допустить потери города - возводите над ними ядерные щиты.
        Один щит может выдержать взрыв одной бомбы. Если на один город сбросят больше одной бомбы, то щит не спасет.
        Стоимость возведения щита - 1000.
    </p>
    <p>
        Вы можете уничтожать города Ваших противников (можете и свои, ведь Вы - главный).
        Для этого необходимы ядерные бомбы. Чтобы создать ядерную бомбу - необходима ядерная разработка. Стоимость ядерной разработки - 1000.
        После изучения ядерной разработки, Вы сможете создавать бомбы. Стоимость одной бомбы - 150.
        За один раунд, вне зависимости от доступного количества, на один город может быть сброшена лишь одна бомба от Вас.
        Таким образом, чтобы уничтожить город над которым возведен щит - необходимо скооперироваться
        (либо надеяться на то, что кто-то будет думать как Вы) с другим игроком и сбросить по бомбе.
        Учтите, что никто из игроков не знает кто разрушил тот или иной город. Вы можете утверждать до последнего,
        что сделали не Вы, чтобы не ухудшить отношения с жертвой вашей бомбардировки.
    </p>
    <p>
        При сбросе ядерной бомбы - Вы наносите вред экологии. Если уровень экологии пересечет отметку в -10% -
        все игроки буду считаться проигравшими, а партия будет окончена. Любой игрок может повышать экологию самостоятельно.
        Стоимость улучшения экологии - 200
    </p>
    <p>
        Помимо бомб Вы можете осложнить игру своему врагу другим способом - наложить на него санкции. Накладывая санкции
        вы снижаете количество получаемых денег на 10%. Учтите, что вы можете наложить санкции лишь единожды на каждую из стран.
        Отменить санкции нельзя. Игрок, на которого наложили санкции видит кто это сделал, поэтому стоит подумать прежде, совершать такую диверсию.
        Наложение санкций бесплатное, Вы ничего не потеряете.
    </p>
    <p>
        Еще один способ взаимодействия с другими странами - шпионаж.
        Применив его Вы получите полную информацию о другой стране до конца текущего раунда
        (эта команда выполнится моментально после применения, на нее не распространяется ограничение пошаговости).
        Цель не узнает, что за ней шпионят. Стоимость шпионажа - 200.
    </p>
    <p>
        Последнее, что Вы можете делать - перевод денег.
        В любой момент Вы можете перевести любую неотрицательную сумму любому игроку.
    </p>
    <p>
        На этом ознакомление с механиками игры заканчивается! Далее будет информация о всех перках в игре.
    </p>
    <hr>
    <p>
        Пацифист:
    </p>
    <p>
        Ввиду Вашей доброты, которой хватило бы на весь мир, Вы верите, что все люди друзья и они не должны воевать.
        Забыв, о войне, ваши люди живут счастливо.

    </p>
    <p>
        Ваша страна отказывается от наличия ядерной разработки
        Начальное качество жизни в городах 100/75/75/75 соответственно
        Стоимость щитов снижена до 250
    </p>
    <hr>

    <hr>
    <p>
        Житель пустоши:
    </p>
    <p>
        Ваши любимые игры в детстве были Сталкер и Фаллаут, Вы всегда любили постапокалипсис и с детства мечтали повыживать в разрушенном мире. У Вас есть шанс исполнить детскую мечту!
    К сожалению, из-за этой тяги к разрушенному миру, вы не слишком горите желанием строить хорошие дома. Зачем, ведь они все равно будут разрушены мощью ядерных бомб.
    </p>
    <p>
        Стоимость бомб снижена до 100, Стоимость ядерной разработки снижена до 400
        Улучшение города дает лишь +15 к качеству жизни. Прирост множителя экономики понижается до 0.15 за улучшение

    </p>
    <hr>

    <hr>
    <p>
        Нетерпеливый:
    </p>
    <p>
        Непоседа с рождения, который в юности злоупотреблял энергетиками,
        а во взрослой жизни любил наркотки, дорвался до трона!
        Зачем ждать кучу времени, если можно сделать все здесь и сейчас?
        К сожалению, первую половину бюджета Вы потратили на колеса (не для автомобиля).
        В вашей стране процветает торговля наркотиками, люди курят и ширяются,
        вместо развития экономики, но вы можете все исправить (можете не исправлять, Вы тут главный)!

    </p>
    <p>
        Все действия, которые Вы совершаете, происходят моментально.
        Начальный бюджет снижен до 500.
        Начальный множитель экономики понижен до 0.5
    </p>
    <hr>

    <hr>
    <p>
        Дед Инсайд:
    </p>
    <p>
        Грустный и меланхоличный подросток, которого всю жизнь лишь попускали,
        получил власть, которая и не снилась его отцу. Вы привыкли к унижениям.
        Населения вашей страны походит на Вас, у них всех депрессия:
    </p>
    <p>
        Эффект от санкций понижен. Один пакет санкций будет снижать ваш доход на 5%.
        Начальное качество жизни снижено до 60/35/35/35 соответственно
    </p>
    <hr>

    <hr>
    <p>
        Берсерк:
    </p>
    <p>
        Убивать. Именно это слово вытатуировано практически везде на вашем теле.
        Брутальный лысый доминатор смерти не против военных преступления.
        Вы приказываете класть больше взрывчатого вещества в бомбы.
        Вы не знаете слово страх, и считаете, что щитами прикрываются лишь слабые.

    </p>
    <p>
        Ваши бомбы настолько сильны, что игнорируют ядерные щиты врагов.
        Стоимость бомб повышена до 200.
        Строительство щитов над вашими городами невозможно.
    </p>
    <hr>

    <hr>
    <p>
        Золотой телец:
    </p>
    <p>
        В чем сила, брат? Разве в деньгах? Да, в деньгах.
        Ваши заводы работают на полную, пусть о природе думают глупые девочки.
    </p>
    <p>
        Прирост множителя экономики повышен до 0.25 за улучшение.
        Каждое улучшение города будет понижать экологию на 2.5%.
    </p>
    <hr>

    <hr>
    <p>
        Друид:
    </p>
    <p>
        Вы - друг деревьев и зверюшек. Вы достигли небывалых высот в области экологии.
        К сожалению, экологически чистое производство бомб гораздо сложнее обычного варварского метода.
    </p>
    <p>
        Убирается негативное влияние на экологию от любых ваших действий.
        Стоимость производства бомб повышается до 175. Стоимость ядерной технологии повышается до 550.
    </p>
    <hr>

    <hr>
    <p>
        Мародер:
    </p>
    <p>
        Вы: Вор, клептоман, рэпер, лжец, бандит, коммунист, но у вас есть и отрицательные черты.
        К сожалению, Ваше влечение к чужому добру не поощряется другими лидерами.
    </p>
    <p>
        За каждый уничтоженный город(необязательно вами и необязательно чужой) вы получается по 75 монет и повышаете свой множитель экономики на 0.05
        Один пакет санкций снижает ваш доход на 15%.
    </p>
    <hr>

    <hr>
    <p>
        Джимми Нейтрон:
    </p>
    <p>
        Вы инженер по призванию. У вас просто золотые руки и огромный мозг.
        Общество не признает вашего гения. Какой-то заводчанин не должен управлять страной!
    </p>
    <p>
        Возможность построить ядерный щит нового поколения стоимость 1000, который способен выдержать залп 3 ядерных бомб!
        Вы не можете накладывать санкции.
    </p>
    <hr>

    <p>
        Поздрвляем! Вы смогли прочитать все, что нужно знать в начале своего пути к Мировому Господству!
        Для начала игры создайте лобби и позовите своих друзей! Если это Вас позвали, то создавайте страну и вводите пароль и название лобби
        (его должен передать тот, кто звал Вас).
    </p>
    <p>
        Удачи!
    </p>
</div>

{% endblock %}