{% extends "general_template.html" %}
{% block content %}
<body>
    {{message}}
    <form action="" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Имя пользователя</label>
            <input name="user_name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Пароль</label>
            <input name="user_password" type="password" class="form-control" id="exampleInputPassword1" required>
            <div id="passwordHelpBlock" class="form-text">
              Пароль должен быть 8-20 символов. Не содержать пробелов, специальных символов.
            </div>
          </div>
          <div class="d-grid gap-2 col-3 mx-auto">
            <button type="submit" class="btn btn-outline-dark">Создать аккаунт</button>
          </div>
          <div class="d-grid gap-1 col-3 mx-auto text-center fixed-bottom">
            <label for="exampleInputEmail1" class="form-label">Уже есть аккаунт?</label>
            <a class="btn btn-outline-dark" href="/login">Жми</a>
          </div>
    </form>
{% endblock %}