{% extends "general_template.html" %}
{% block content %}

{% if Lobby.query.filter_by(id=player.lobby_id).first().player_count != len(LobbyPlayer.query.filter_by(lobby_id=player.lobby_id).all()) %}
<div>
    <p>Ожидайте игроков</p>
    <p>Готово к игре: {{len(LobbyPlayer.query.filter_by(lobby_id=player.lobby_id).all())}} / {{Lobby.query.filter_by(id=player.lobby_id).first().player_count}}</p>
    <form method="post">
    <button type="submit" >Обновить данные</button>
    </form>
</div>
{% else %}
    <style>
    .container {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			height: 100%;
            background-color: #DCDCDC;

		}
		.block {
			flex-grow: 1;
			height: 100%;
			margin: 10px;

		}
		.block-2 {
			position: relative;
		}
		
		.block-3 {
			flex-grow: 1;
			height: 100%;

			margin: 10px;

		}
		.move-left {
			transform: translateX(-100%);
			transition: transform 1s ease-in;
		}
		.show-block-3 {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.show-block-2 {
			flex-grow: 2;
		}
    </style>
    <div class="container">
    <div class="block">
        <form method="POST">
            <button type="submit" value="{{player.id}}" name="ready">Готов</button>
            <button type="submit" >Обновить данные</button>
        </form>
        <div><p>Название страны: {{player.country_name}}</p></div>
        <p>Перк: {{player.perk}}</p>

        <form method="POST">
        {% for i in range(4) -%}
            <div>
            <p>{{towns[i].name}} : {{towns[i].quality}}(+{{towns[i].quality_next}})
                {% if towns[i].quality != 0 %}
                <button type="submit" name="upg" value={{towns[i].id}}>Улучшить</button>
                {% endif %}
            </p>
            <p>Щит: {{towns[i].shield}} ({{towns[i].shield_next}})
                {% if towns[i].shield_next == 0 -%}
                    {% if player.perk != "Берсерк" and towns[i].quality > 0 and towns[i].shield == 0 %}
                    <button type="submit" name="shld" value="{{towns[i].id}}">Купить</button>
                    {% endif-%}
                    {% if player.perk == "Джимми Нейтрон" and towns[i].quality > 0 and towns[i].shield < 3%}
                    <button type="submit" name="shld_extra" value="{{towns[i].id}}">Купить супер-щит</button>
                    {% endif-%}
                {% endif-%}
                </p>
            </div>

        {% endfor -%}
        </form>
        <div>
            <p>Бюджет: {{player.money}} (+{{player.money_next()}})</p>
            <p>Множитель экономики: {{player.money_mltp}}</p>
            <form method="POST">
            <p>Ядерная разработка: {{player.nuke}}({{player.nuke_next}})
            {% if player.nuke == "Нет" and player.nuke_next == "Не будет" and player.perk != "Пацифист" -%}

             <button type="submit" name="nuke" value="1">Изучить</button>

            {% else -%}

            {% endif -%}
            </p>
                </form>

            <form method="POST">
            <p>Количество бомб: {{player.bombs_count}} (+{{player.bombs_count_next}})

            {% if player.nuke == "Есть" -%}

             <button type="submit" name="bomb" value="1">Сделать</button>

            {% else -%}

            {% endif -%}
            </p>
                </form>


            <p>Санкции наложили:

            {{player.sanctions}}

            </p>

        </div>
    </div>
    <div class="block-2">
        <p>Текущий раунд: {{Lobby.query.filter_by(id=player.lobby_id).first().round_num}}</p>
        <p>Уровень экологии: {{Lobby.query.filter_by(id=player.lobby_id).first().eco}}%
        <form method="post">
        <button type="submit" value="1" name="eco_up">Улучшить экологию </button>
    </form>
        </p>
        <p>Игроки:</p>

        {% for i in db.session.query(LobbyPlayer).filter_by(lobby_id=player.lobby_id).all() -%}

            <div>
                <form action="" method="post">
                <p>{{i.country_name}} ({{i.get_quality()}}%)
                    {% if i.is_ready %}
                        Готов
                    {% else %}
                        Не готов
                    {% endif %}


                    {% if player.perk != "Джимми Нейтрон" %}
                    <button type="submit" value="{{i.id}}" name="sanct">Наложить санкции</button >
                    {% endif %}
                    <button type="submit" value="{{i.id}}" name="spy" class="button" onclick="showBlock3()">Шпионаж</button>
                </p>
                </form>
                <form action="" method="post">
                <p><input type="text" name="money_send"> <button type="submit" name="country_send" value="{{i.id}}">Отправить деньги</button></p>
                </form>

            {% for x in db.session.query(Town).filter_by(country_id=i.id).all() -%}
                 <form action="" method="post">
                <p>{{x.name}}: {{x.quality}}
                    {% if ("|"+str(x.id)+"|") not in player.atk and player.bombs_count > 0 and x.quality != 0-%}
                    <button type="submit" value="{{x.id}}" name="atk">Атака</button>

                    {% else -%}

                    {% endif -%}
                </p>
                 </form>

        {% endfor -%}
        {% endfor -%}


        </div>
    </div>
    <div class="block-3">
        {% if player.spy %}
        <p>Шпионаж:</p>
        <div>

        <div><p>Название страны: {{LobbyPlayer.query.filter_by(id=player.spy).first().country_name}}</p></div>
        <p>Перк: {{LobbyPlayer.query.filter_by(id=player.spy).first().perk}}</p>

        {% for i in Town.query.filter_by(country_id=player.spy).all() -%}
            <div>
            <p>{{i.name}} : {{i.quality}}(+{{i.quality_next}})</p>
            <p>Щит: {{i.shield}} ({{i.shield_next}})

                </p>
            </div>

        {% endfor -%}


        <div>
            <p>Бюджет: {{LobbyPlayer.query.filter_by(id=player.spy).first().money}} (+{{LobbyPlayer.query.filter_by(id=player.spy).first().money_next()}})</p>

            <p>Ядерная разработка: {{LobbyPlayer.query.filter_by(id=player.spy).first().nuke}}({{LobbyPlayer.query.filter_by(id=player.spy).first().nuke_next}})

            </p>



            <p>Количество бомб: {{LobbyPlayer.query.filter_by(id=player.spy).first().bombs_count}} (+{{LobbyPlayer.query.filter_by(id=player.spy).first().bombs_count_next}})


            </p>



            <p>Санкции наложили:

            {{LobbyPlayer.query.filter_by(id=player.spy).first().sanctions}}

            </p>

        </div>

        </div>
    {% else %}

    {% endif -%}
  </div>
</div>
    <script type="text/javascript">
        function showBlock3() {
          let block = document.querySelectorAll('.block');
          let block2 = document.querySelector('.block-2');
          let block3 = document.querySelector('.block-3');
          block[0].classList.add('move-left');
          block[1].classList.add('move-left');
          block3.style.display = 'flex';
          block3.classList.add('show-block-3');
          setTimeout(() => {
            block[0].style.display = 'none';
            block[1].style.display = 'none';
          }, 1000);
		}
    </script>
{% endif %}
{% endblock %}